<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwh.mapper.CommentMapper">

    <select id="findAllWtRelease" resultType="com.hwh.po.WtRelease">
        select * from wt_release
    </select>

</mapper>