<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwh.mapper.PermissionMapper">

    <select id="getPermissionByUserCode" resultType="com.hwh.po.Permission" parameterType="String">
         select *
         from sys_permission
         where type = 'permission'
         and id in
        (
           select sys_permission_id
           from sys_role_permission
           where sys_role_id in
           (
               select sys_role_id
               from sys_user_role
               where sys_user_id in
               (
                  select id from sys_user where usercode = #{usercode}
                )
           )
        )
    </select>

    <select id="getAllPermissionsPage" parameterType="String" resultType="com.hwh.po.Permission">
        select * from sys_permission
        <where>
            <if test="name != null">
                and name like "%"#{name}"%"
            </if>
        </where>
        limit #{page},#{limit}
    </select>

    <select id="countPermissions" parameterType="String" resultType="Long" >
        select count(*) from sys_permission
        <where>
            <if test="name != null">
                and name like "%"#{name}"%"
            </if>
        </where>
    </select>

    <insert id="addPermission" parameterType="com.hwh.po.Permission">
        insert into sys_permission(name, type, url, percode, parentid, parentids, sortstring, available)
        values (#{name},#{type},#{url},#{percode},#{parentid},#{parentids},#{sortstring},#{available})
    </insert>

    <delete id="deletePermission" parameterType="String" >
        delete from sys_permission where id = #{id}
    </delete>

    <update id="update" parameterType="com.hwh.po.Permission">
        update sys_permission set name = #{name},type=#{type},url=#{url},percode=#{percode},
        parentid=#{parentid},parentids=#{parentids},sortstring=#{sortstring}
        where id = #{id}
    </update>

    <update id="updateAvailable" parameterType="String">
        update sys_permission set available = #{available} where id = #{id}
    </update>

    <delete id="batchDelete" parameterType="java.util.ArrayList">
        /*delete from sys_permission where id in (${ids})*/
        delete from sys_permission where id in
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <select id="getAllPermissions" resultType="com.hwh.po.Permission">
        select * from sys_permission where available = '1'
    </select>

    <select id="getRolePermissionByPermissionId" parameterType="String" resultType="com.hwh.po.RolePermission">
        select * from sys_role_permission where sys_permission_id = #{id}
    </select>
</mapper>