<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwh.mapper.UserMapper">

    <select id="getUserByUserCode" resultType="com.hwh.po.User" parameterType="String">
        select * from sys_user where usercode = #{usercode}
    </select>

    <select id="getAllUsers" resultType="com.hwh.po.User" >
        select * from sys_user
    </select>

    <insert id="addUser" parameterType="com.hwh.po.User">
        insert into sys_user values(#{id},#{usercode},#{username},#{password},#{salt},#{locked})
    </insert>

    <insert id="addUserRole" parameterType="String">
        insert into sys_user_role(sys_user_id, sys_role_id) values(#{usercode},#{userrole})
    </insert>
</mapper>